<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    Are there any jobs not finished or running? {{everythingdone}} <br>
    {% if not everythingdone %}
        updateDates: {{updateDates}}<br>
        checkAllNow: {{checkAllNow}}<br>
        checkUser: {{checkUser}}<br>
    {% endif %}
    LastDates for Users:<br>
    {% for lastdates in lastdatelist %}
    {{lastdates}}<br>
    {% endfor %}
    <br>
    Last Updated Automaticly:{{previouschecktime}}
    Last Updated Manually:
    Last Posted:
    Stats
    Time Running
    Total Pictures Posted to imgur
    Total Pictures Submitted to reddit
</body>
</html>