<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
ID: {{id}}<br>
Name: {{name}}<br>
Last Date: {{lastdate}}<br>
FlairId: {{flairid}}<br>
Change stuff below<br>
<form action="/submitchanges" method="POST">
    <input type='text' name='id' value={{id}}><br>
    <input type='text' name='name' value={{name}}><br>
    <input type='text' name='flairid' value={{flairid}}><br>
    Input in format Year-Month-Day Hour-Minutes-Seconds<br>
    <input type='text' name='lastdate' value={{lastdate}}><br>
    <input type='submit' value='submit'>
</form>
</body>
</html>